.open_drawer_header {
        text-align: left;
        width: 100%;
        justify-content: flex-start;
        display: flex;
}

.title_buttons {
        font-size: 14px !important;
        text-transform: capitalize;
        border: none;
        background-color: #fff;
        cursor: pointer;
}

